# Created by https://www.toptal.com/developers/gitignore/api/node,linux,macos,react,windows,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=node,linux,macos,react,windows,visualstudiocode

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a delete