.button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #ff4343;
  color: white;
  font-family: 'Roboto', sans-serif;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}