.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    padding: 20px;
    flex: 1;
    width: 100%;
    margin-left: 20px;
    box-sizing: border-box;
    gap: 10px;
}

.textBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    padding: 20px;
    flex: 1;
    border: 1px solid black;
    width: 80%;
    margin-left: 20px;
    background-color: rgb(215, 222, 227);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    gap: 10px;
}

.doneButton{
    width: 100%;
    font-size: 1.2rem;
    margin-top: 10px;
}