.container {
    text-align: center;
  }
  
  .grid {
    display: inline-block;
    border: 1px solid #ccc;
    margin: 10px;
  }
  
  .row {
    display: flex;
  }
  
  .cell {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
  }
  
  .cell:hover {
    background-color: #f0f0f0;
  }
  
  .selected {
    background-color: #f31d1d;
    color: white;
  }
  
  .doneButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff4343;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .doneButton:hover {
    background-color: #b6bfbd;
  }
  
  .results {
    margin-top: 20px;
    text-align: left;
  }
  
  .results ul {
    list-style-type: none;
    padding: 0;
  }
  